@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: "Metag";
    src: url(../fonts/METAG___.TTF);
}

:root {
    --accent-color: #9a1010;
    --bg-color: #faeeee;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5em;
    color: var(--accent-color);
    text-align: center;
    line-height: 1.5em;
}

h2, h3 {
    font-size: 1em;
    color: var(--accent-color);
    text-align: center;
}

a {
    color: var(--accent-color);
}

body {
    background-color: #f7dbdb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: clamp(12px, 1vw, 24px);
}

header {
    height: 3em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    background-color: var(--accent-color);
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
    padding: .5em 1em;
}

header a {
    color: white;
}

#logo1 {
    font-size: 2em;
    font-family: 'Metag';
    text-decoration: none;
}

#logo2 {
    font-size: 2em;
    font-family: 'Metag';
    text-decoration: none;
}

.search-container {
    width: 100%;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2em;
}

.search {
    line-height: 1.2em;
    height: 100%;
    outline: none;
    display: block;
    border: 0;
    padding: 5px;
}

input[type='search'] {
    width: 50%;
    color: #9a1010;
    background-color: #faeeee;
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z' fill='%239a1010'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color:#9a1010;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}


input[type='submit'] {
    background-color: #9a1010;
    height: 100%;
    padding: 0 .5em;
    /* width: 3em; */
    cursor: pointer;
    color: white;
    font-size: 1em;
}

.menu {
    justify-self: end;
    position: relative;
    width: max-content;
}

.menu-dropbutton {
    padding: 0 1em;
    margin: -.5em 0;
    height: 4em;
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition-duration: 0.2s;
    position: relative;
}

.menu-dropbutton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu-dropbutton span {
    font-size: 1.5em;
}

.menu-dropbutton img {
    height: calc(100% - .5em);
    border-radius: 5px;
}

.menu-dropbutton a {
    font-size: 1.5em;
    text-decoration: none;
}

.menu-dropcontent {
    position: absolute;
    top: 3.5em;
    min-width: 100%;
    width: max-content;
    right: 0;
    background-color: #9a1010;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .4s ease-out;
    /* line-height: 75px; */
}

.show-menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-dropcontent a {
    font-size: 1.5em;
    padding: .5em 1em;
    /* width: 100%; */
    display: block;
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* font-size: 30px; */
    /* height: 75px; */
    text-decoration: none;
    transition-duration: 0.2s;
    /* padding-left: 20px; */
}

.menu-dropcontent a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

main, footer {
    width: 80%;
    padding: 2em 3em;
    box-sizing: border-box;
}

main {
    margin: 1em auto 0;
    /* background: var(--bg-color); */
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-grow: 1;
}

footer {
    margin: 0 auto 1em;
    background: var(--accent-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;

    display: flex;
    gap: 3em;
    font-size: 0.8em;
}

footer a {
    color: white;
}

.footer-logo {
    font-family: 'Metag';
    /* margin-bottom: 1em; */
    font-size: 1.5em;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links p:first-child, .footer-contacts p:first-child {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

@media (max-width: 950px) {
    main, footer {
        width: 90%;
        /* padding: 1em 2em; */
        /* margin: 0; */
    }

    input[type='search'] {
        width: 70%;
    }
}

@media (max-width: 700px) {
    main, footer {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    footer {
        padding: 1em 2em;
    }

    input[type='search'] {
        width: 90%;
    }

    .menu-dropbutton {
        padding: 0 .25em;
    }

    .menu-dropbutton span {
        display: none;
    }
}