<div th:fragment="footer">
    <footer>
        <p class="footer-logo">GK</p>
        <div class="footer-contacts">
            <p>Контакты</p>
            <p>+7(999)999-99-99</p>
            <p>danila@olyanin.ru</p>
            <p>г. Москва, проспект Вернадского, 78с4</p>
            <p>©Олянин Данила ИКБО-30-22 2024</p>
        </div>
        <div class="footer-links">
            <p>Ссылки</p>
            <a href="http://localhost:8080/">Каталог</a>
            <a href="http://localhost:8080/register">Регистрация</a>
        </div>
    </footer>
</div>